		/***//***//***//***/	/***//***//***//***/	/***//***//***//***/	/***//***//***//***/

	/* BOTH FLARES LEFT AND RIGHT */
	article>figure.wp-block-image {
		display: flex;
		flex-direction: row;
	}
	article figure.wp-block-image img, article>figure>a {
		margin-top: 0px;
	}

	article figure.wp-block-image>figcaption {
		margin-bottom: 0px;
		/***/max-width: 500px;
		width: 100%;
		/***/min-width: 360px;
		padding: 0rem 1rem 1rem 1rem;
	}
	article figure.wp-block-image+figure.wp-block-image img {
		/*selects the bottom image */
		width: 440px;
		height: 220px;
	}
	/* left top */
	article figure.wp-block-image:nth-of-type(4n+1) {
		display: flex;
		flex-direction: row-reverse;
	}
	article figure.wp-block-image:nth-of-type(4n+1)>img {
		width: 250px;
		height: 250px;
	}
	article figure.wp-block-image:nth-of-type(4n+1) {
		-webkit-clip-path: polygon(115% 100%, 0px 100%, 0px 68.92%, 9.32% 68.92%, 0px 62.72%, 4.94% 30%, 8.92% 32.28%, 13.82% 13px, 37.65% 20.32%, 37.65% 0%, 100% 0%, 115% 0%);
		clip-path: polygon(115% 100%, 0px 100%, 0px 68.92%, 9.32% 68.92%, 0px 62.72%, 4.94% 30%, 8.92% 32.28%, 13.82% 13px, 37.65% 20.32%, 37.65% 0%, 100% 0%, 115% 0%);
		/**2**/width: 626px;
		/**3**/max-width: 626px;
		height: 340px;
		margin-left: 0;
		margin-top: 0;
		margin-bottom: 0px;
		z-index: 0;
		grid-column-start: 1;
		grid-column-end: 4;
		/**1**/left: -59px;
	}
	article figure.wp-block-image:nth-of-type(4n+1) {
		align-items: center;
		/****/margin-top: -70px;
	}
	article figure.wp-block-image:nth-of-type(4n+1)>img {
		margin: unset;
		margin-right: -30px;
		/****/margin-top: 65px;
		margin-left: 10px;
	}
	article figure.wp-block-image:nth-of-type(4n+1)>figcaption {
		margin: 10px 0px 40px;
		text-align: right;
		/****/ padding-top: 40px;
		padding-left: 120px;
	}
	/* left bottom */
	article figure.wp-block-image:nth-of-type(4n+1)+figure.wp-block-image {
		-webkit-clip-path: polygon(115% 100%, 115% 0px, 0px 0px, 0% 18.5%, 4.1% 18.5%, 5.99% 27.06%, 4.71% 26.8%, 80px 83.41%, 23.73% 77.85%, 25.43% 100%, 37.65% 94.5%, 37.65% 100%);
		clip-path: polygon(115% 100%, 115% 0px, 0px 0px, 0% 18.5%, 4.1% 18.5%, 5.99% 27.06%, 4.71% 26.8%, 80px 83.41%, 23.73% 77.85%, 25.43% 100%, 37.65% 94.5%, 37.65% 100%);
		/**2**/width: 626px;
		/**3**/max-width: 626px;
		height: 364px;
		margin-left: 0;
		margin-top: 0;
		/****/ margin-bottom: -124px;
		z-index: 0;
		grid-column-start: 1;
		grid-column-end: 4;
		/**1**/left: -59px;
		position: relative;
		/**4**/ padding-top: 5px;
	}
	article figure.wp-block-image:nth-of-type(4n+1)+figure.wp-block-image {
		display: flex;
		flex-direction: row-reverse;
	}
	article figure.wp-block-image:nth-of-type(4n+1)+figure.wp-block-image>img {
		margin: unset;
		margin-right: -100px;
		margin-top: 10px;
		margin-left: 10px;
	}
	article figure.wp-block-image:nth-of-type(4n+1)+figure.wp-block-image>img {
		/****/ margin-top: 5px;
	}
	article figure.wp-block-image:nth-of-type(4n+1)+figure.wp-block-image>figcaption {
		padding-left: 125px;
		text-align: right;
		/****/padding-top: 0px;
	}
	/* right top */
	article figure.wp-block-image:nth-of-type(4n+3)>img {
		width: 250px;
		height: 250px;
	}
	article figure.wp-block-image:nth-of-type(4n+3) {
		-webkit-clip-path: polygon(-150px 0%, 59.6% 0, 59.6% 4%, 68.1% 0, 70.1% 23%, 89% 5%, 97% 44%, 93.5% 47.5%, 96.5% 47.5%, 96.5% 100%, -150px 100%);
		clip-path: polygon(-150px 0%, 59.6% 0, 59.6% 4%, 68.1% 0, 70.1% 23%, 89% 5%, 97% 44%, 93.5% 47.5%, 96.5% 47.5%, 96.5% 100%, -150px 100%);
		height: 400px;
		/**1** DO BOTTOM FIRST*/
		width: 625px;
		/**2**/
		max-width: 625px;
		margin-top: 0px;
		margin-bottom: 0px;
		z-index: 0;
		grid-column-start: 3;
		grid-column-end: -1;
		margin-right: -85px;
		/**3**/ padding-top: 55px;
	}
	article figure.wp-block-image:nth-of-type(4n+3) {
		display: inline-flex;
		flex-direction: row;
		position: relative;
		align-items: center;
		/****/ margin-top: -136px;
	}
	article figure.wp-block-image:nth-of-type(4n+3)>img {
		margin: unset;
		margin-left: -30px;
		/****/ margin-top: 80px;
	}
	article figure.wp-block-image:nth-of-type(4n+3)>figcaption {
		/****/ margin: 0px 10px 0px;
		text-align: left;
		padding-right: 120px;
	}
	/* right bottom */
	article figure.wp-block-image:nth-of-type(4n+3)+figure.wp-block-image {
		display: inline-flex;
		flex-direction: row;
		position: relative;
		align-items: flex-start;
		margin-bottom: -100px;
	}
	article figure.wp-block-image:nth-of-type(4n+3)+figure.wp-block-image {
		-webkit-clip-path: polygon(-150px 0%, 84% 1%, 83% 12%, 100% 20%, 91% 50%, 75% 46%, 51% 100%, 15% 85%, -150px 86%);
		clip-path: polygon(-150px 0%, 96.5% 0%, 96.5% 5%, 100% 7.5%, 94% 51%, 86% 45%, 76.6% 100%, 59.6% 82%, 59.60% 100%, -150px 100%);
		height: 352px;
		/**1**/width: 625px;
		/**2**/max-width: 625px;
		margin-top: -90px;
		margin-bottom: -110px;
		z-index: 0;
		grid-column-start: 3;
		grid-column-end: -1;
		margin-right: -85px;
		/**3**/padding-top: 15px;
	}
	article figure.wp-block-image:nth-of-type(4n+3)+figure.wp-block-image>img {
		margin: unset;
		margin-left: -100px;
	}
	article figure.wp-block-image:nth-of-type(4n+3)+figure.wp-block-image {
		margin-top: 0px;
	}
	article figure.wp-block-image:nth-of-type(4n+3)+figure.wp-block-image>figcaption {
		/**1**/ padding-right: 180px;
		/**2**/margin: -20px 10px 0px;
		text-align: left;
	}