article code, article kbd, article pre, article samp, article span{
	background-color: #fff7f2;
	margin: 0;
	position: relative;
	z-index: 6;
}

article div.computer-container-container~h3 {
	padding-top: 20px;
}
.b4-computer {
	padding-bottom: 25px;
}




/**** MOBILE & HEADER MENU ****/


/**** LOGO  ****/


/**** BASIC ARTICLE COMPONENTS ****/

/**** H1 and ACF INTRODUCTION ****/


/*** HEADINGS ***/

/*** IMAGES ****/


/**** VIDEOS ****/


/***** SLIDER ****/


/**** FIGURE AND FIG CAPTION AND FLARES *****/

/** CSS COMPUTER **/


/** SOCIAL MEDIA BUTTONS **/


/*** MISC ***/

/*** COMMENTS ****/


/**** FOOTER FLARES *****/


/*** ****/

@media only screen and (min-width: 320px) {}

/* 360px eg. Samsung Galaxy S3/S4 | Nexus 5 | Sony Xperia z */

@media only screen and (min-width: 360px) {}


/* 375px eg. iPhone 6, iphone 8, iPhone X */

@media only screen and (min-width: 375px) {}


/* 400px  */

@media only screen and (min-width: 400px) {}


/* 411px eg. Nexus 5x, Google Pixel */

@media only screen and (min-width: 411px) {}


/* 414px eg. iphone 6plus, 7plus, 8plus */

@media only screen and (min-width: 414px) {}


/* 480px eg. LG G5, One Plus 3, Samsung Note 5 */

@media (min-width: 480px) {}


/* 600px eg. Nexus 7, Samsung Galaxy Tab 2 | 7 Plus */

@media only screen and (min-width: 600px) {}


/* 768px eg. Nexus 7, Samsung Galaxy Tab 2 | 7 Plus */

@media only screen and (min-width: 768px) {}


/* 900px */

@media only screen and (min-width: 900px) {}


/* 1024 */

@media only screen and (min-width:1024px) {}


/* DESKTOP | LAPTOP FULL STRUCTURED WIDTH STARTS HERE
	1160px */

	@media only screen and (min-width: 1160px) {}


	/***/
	/***/
	/***/
	/***/
	/* BOTH FLARES LEFT AND RIGHT */
	article>figure.wp-block-image {
		display: flex;
		flex-direction: row;
	}
	article figure.wp-block-image img, article>figure>a {
		margin-top: 0px;
	}
	article figure.wp-block-image>figcaption {
		margin-bottom: 10px;
		/***/
		max-width: 320px;
		width: 100%;
		/***/
		min-width: 50px;
		/***/
		padding: 2rem 1rem 0rem 1rem;
	}
	article figure.wp-block-image+figure.wp-block-image img {
		/*selects the bottom image */
		/**/
		width: 300px;
		/**/
		height: 150px;
	}
	/* left top */
	article figure.wp-block-image:nth-of-type(4n+1) {
		display: flex;
		flex-direction: column;
	}
	article figure.wp-block-image:nth-of-type(4n+1)>img {
		width: 250px;
		height: 250px;
	}
	article figure.wp-block-image:nth-of-type(4n+1) {
		-webkit-clip-path: polygon(91.75% 100%, 0px 100%, 0% 70%, 9.3% 70%, 0px 63%, 8% 44%, 2.5% 30%, 9.1% 115px, 9.1% 0%, 9.1% 0%, 67.33% 0%, 91.75% 0%);
		clip-path: polygon(91.75% 100%, 0px 100%, 0% 70%, 9.3% 70%, 0px 63%, 8% 44%, 2.5% 30%, 9.1% 115px, 9.1% 0%, 9.1% 0%, 67.33% 0%, 91.75% 0%);
		/**2**/
		width: 460px;
		/**3**/
		max-width: 460px;
		height: 444px;
		margin-left: 0;
		margin-top: 0;
		margin-bottom: 0px;
		z-index: 1;
		grid-column-start: 1;
		grid-column-end: 4;
		/**1**/
		left: -17px;
	}
	article figure.wp-block-image:nth-of-type(4n+1) {
		align-items: center;
		/****/
		margin-top: 0px;
		padding-top: 10px;
	}
	article figure.wp-block-image:nth-of-type(4n+1)>img {
		margin: unset;
		margin-right: 0px;
		/****/
		margin-top: 0px;
		margin-left: 0px;
		margin: 0 auto;
	}
	article figure.wp-block-image:nth-of-type(4n+1)>figcaption {
		/***/
		margin: 15px auto 0px;
		text-align: center;
		/****/
		/***/
		padding-top: 0px;
		/* */
		padding-left: 0px;
	}
	/* left bottom */
	article figure.wp-block-image:nth-of-type(4n+1)+figure.wp-block-image {
		-webkit-clip-path: polygon(91.7% 100%, 91.7% 0px, 0px 0px, 0% 18.5%, 0% 19%, 0% 31%, 6.34% 37.89%, 6.34% 95%, 9.1% 100%, 23.1% 100%, 30.21% 100%, 37.65% 100%);
		clip-path: polygon(91.7% 100%, 91.7% 0px, 0px 0px, 0% 18.5%, 0% 19%, 0% 31%, 6.34% 37.89%, 6.34% 95%, 9.1% 100%, 23.1% 100%, 30.21% 100%, 37.65% 100%);
		/**2**/
		width: 460px;
		/**3**/
		max-width: 460px;
		height: 320px;
		margin-left: 0;
		margin-top: -1px;
		/****/
		margin-bottom: 0px;
		z-index: 0;
		grid-column-start: 1;
		grid-column-end: 4;
		/**1**/
		left: -17px;
		position: relative;
		/**4**/
		padding-top: 5px;
		padding: 5px 10px 10px;
	}
	article figure.wp-block-image:nth-of-type(4n+1)+figure.wp-block-image {
		display: flex;
		flex-direction: column-reverse;
	}
	article figure.wp-block-image:nth-of-type(4n+1)+figure.wp-block-image>img {
		margin: 15px auto 0px;
	}
	article figure.wp-block-image:nth-of-type(4n+1)+figure.wp-block-image>img {
		/****/
		margin-top: 10px;
	}
	article figure.wp-block-image:nth-of-type(4n+1)+figure.wp-block-image>figcaption {
		/***/
		padding-left: 0px;
		text-align: center;
		/****/
		padding-top: 0px;
		margin: 0px auto;
	}
	/* right top */
	article figure.wp-block-image:nth-of-type(4n+3)>img {
		width: 250px;
		height: 250px;
	}
	article figure.wp-block-image:nth-of-type(4n+3) {
		-webkit-clip-path: polygon(5.60% 0%, 59.6% 0%, 90.8% 0%, 98.67% 30px, 95% 15%, 95% 40%, 100% 47.5%, 100% 47.5%, 90.8% 58.5%, 90.8% 100%, 5.60% 100%);
		clip-path: polygon(5.60% 0%, 59.6% 0%, 90.8% 0%, 98.67% 30px, 95% 15%, 95% 40%, 100% 47.5%, 100% 47.5%, 90.8% 58.5%, 90.8% 100%, 5.60% 100%);
		/** 4 **/
		height: 460px;
		/**1** DO BOTTOM FIRST*/
		width: 446px;
		/**2**/
		max-width: 446px;
		margin-top: 0px;
		margin-bottom: -1px;
		z-index: 0;
		grid-column-start: 1;
		grid-column-end: 4;
		margin-right: 0px;
		/**3**/
		padding-top: 0px;
	}
	article figure.wp-block-image:nth-of-type(4n+3) {
		display: lex;
		flex-direction: column;
		position: relative;
		align-items: normal;
		/****/
		margin-top: 0px;
	}
	article figure.wp-block-image:nth-of-type(4n+3)>img {
		margin: 10px auto 10px;
	}
	article figure.wp-block-image:nth-of-type(4n+3)>figcaption {
		/****/
		margin: 0 auto;
		text-align: center;
		padding-right: 2rem;
	}
	/* right bottom */
	article figure.wp-block-image:nth-of-type(4n+3)+figure.wp-block-image {
		display: flex;
		flex-direction: column-reverse;
		position: relative;
		align-items: flex-start;
		margin-bottom: 0px;
	}
	article figure.wp-block-image:nth-of-type(4n+3)+figure.wp-block-image {
		-webkit-clip-path: polygon(5.60% 0%, 90.8% 0%, 90.8% 0%, 100% 15.5%, 90.8% 50%, 90.8% 100%, 90.8% 100%, 90.8% 100%, 90.8% 100%, 5.6% 100%);
		clip-path: polygon(5.60% 0%, 90.8% 0%, 90.8% 0%, 100% 15.5%, 90.8% 50%, 90.8% 100%, 90.8% 100%, 90.8% 100%, 90.8% 100%, 5.6% 100%);
		/** 4 **/
		height: 344px;
		/**1**/
		width: 446px;
		/**2**/
		max-width: 446px;
		margin-top: -90px;
		margin-bottom: 0px;
		z-index: 0;
		grid-column-start: 1;
		grid-column-end: 4;
		margin-right: 0px;
		/**3**/
		padding-top: 0px;
	}
	article figure.wp-block-image:nth-of-type(4n+3)+figure.wp-block-image>img {
		margin: 15px auto 10px;
	}
	article figure.wp-block-image:nth-of-type(4n+3)+figure.wp-block-image {
		margin-top: 0px;
	}
	article figure.wp-block-image:nth-of-type(4n+3)+figure.wp-block-image>figcaption {
		/**1**/
		padding-right: 2rem;
		/**2**/
		margin: 0px auto;
		text-align: center;
	}	
